:root {
  --marina: #4f85c3;
  --skyCaptain: #262834;
  --brilliantWhite: #edf0ff;
  --jasmineGreen: #7fc843;
  --fangangoPink: #e14f80;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: 0;
  background-color: var(--skyCaptain);
}

.home {
  background-color: var(--brilliantWhite);
  color: black;
  padding: 15px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
}

.home a:hover {
  color: var(--marina);
}

header {
  background-color: var(--marina);
  color: var(--brilliantWhite);
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.10);
  padding: 15px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

header a {
  padding: 5px 0px;
  margin: 0 3px;
  border: 3px solid transparent;
}

header a:hover {
  color: lightgray;
}

header .menuSelected {
  border-bottom: 3px solid var(--brilliantWhite);
}

main {
  margin: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  margin-bottom: 20px;
  color: var(--brilliantWhite);
}

main p {
  color: var(--brilliantWhite);
}

main>div>p {
  text-align: justify;
  text-align-last: center;
}

.info {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info>img {
  width: 200px;
}

.info>h1 {
  margin: 20px;
}

#conteudo {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 10px;
}

#conteudo>a {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: var(--brilliantWhite);
  color: var(--skyCaptain);
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}

#conteudo>a:hover {
  box-shadow: 0 0 10px 3px var(--brilliantWhite), 0 0 15px 5px var(--marina);
  transform: scale(1.05);
}

#conteudo>a>div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#conteudo>a .tags {
  display: flex;
  justify-content: center;
}

#conteudo>a .tags>span {
  padding: 2px 6px;
  margin: 2px;
  border-radius: 5px;
  font-size: 0.8em;
}

.new {
  background-color: var(--marina);
  color: var(--brilliantWhite);
}

.free {
  background-color: var(--jasmineGreen);
  color: var(--brilliantWhite);
}

.popular {
  background-color: var(--fangangoPink);
  color: var(--brilliantWhite);
}

.floating-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: var(--marina);
  color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.floating-button:hover {
  background-color: white;
  color: var(--marina);
}

footer {
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
  padding: 15px;
  margin-top: auto;
  text-align: center;
}